body {
  font-family: Arial, sans-serif;
  background-color: #f5f5dc;
}
.app-container {
  max-width: 400px;
  margin: 30px auto;
  background: linear-gradient(to bottom, #ef9999, #deb7b7);
  border-radius: 15px;
  overflow: hidden;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header p {
  font-size: 15px;
}
.user-info {
  display: flex;
  align-items: center;
}
.user-info img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #aaa;
}
.account-balance {
  text-align: center;
}
.accont-balance p {
  color: #070000;
}
.account-balance h1 {
  font-size: 35px;
  margin: 10px 0;
}
.balance-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.card {
  width: 50%;
  padding: 5px;
  text-align: center;
  color: rgb(10, 1, 1);
  border-radius: 15px;
}
.card.income {
  background-color: rgb(24, 152, 7);
}
.card.expense {
  background-color: #d83c2b;
}

.filter-tabs {
  display: flex;
  justify-content: space-around;
  background-color: #ed6b6b;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px;
}
.filter-tabs button {
  background: none;
  border: none;
  font-size: 15px;
  color: #555;
}
.filter-tabs .active {
  font-weight: bold;
  color: black;
}
.recent-transactions {
  margin-top: 20px;
}
.transactions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.transactions-header h2 {
  font-size: 20px;
  margin: 0;
}
.transactions-header a {
  color: #16054b;
  text-decoration: none;
}
.transactions-list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
.transactions-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.transactions-list li span:first-child {
  font-size: 18px;
  margin-right: 10px;
}
.transactions-list .income span:first-child {
  color: #2ecc71;
}
.transactions-list .expense span:first-child {
  color: #e74c3c;
}
.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background: white;
  border-radius: 10px;
  position: sticky;
  bottom: 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
.nav-item {
  text-align: center;
  color: #555;
}
.nav-item p {
  margin: 0;
  font-size: 12px;
}
.nav-item.add-button {
  background-color: #7e57c2;
  color: white;
  font-size: 24px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
}
  